{extend name="base" /}
{block name="style"}
<style type="text/css">
    .item {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .ico {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 10px;
    }
    
    a.description {
        color: #000;
        text-decoration: none;
    }
    
    .loading-wrap {
        bottom: 50px;
        width: 100%;
        height: 52px;
        text-align: center;
        display: none;
    }
    
    .loading {
        padding: 10px 50px;
        height: 32px;
        line-height: 28px;
        color: #FFF;
        font-size: 20px;
        border-radius: 5px;
        background: 10px center rgba(0, 0, 0, .7);
    }
</style>
{/block}
{block name="script"}
<script type="text/javascript" src="__JS__/masonry.pkgd.min.js"></script>
{/block}
{block name="navigation"}
<div class="col-xs-12 navigation">
    <ul class="nav nav-pills">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/about/">关于</a></li>
        <li><a href="https://github.com/Osnobel?tab=repositories" target="_blank">我的Github</a></li>
    </ul>
</div>
{/block}
{block name="main"}
<div class="col-xs-12">
    <!--瀑布流-->
    <div id="container" class="row">
        {volist name="apps" id="vo"}
        <div class="col-xs-12 col-sm-6 col-md-4 item">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{$vo.trackViewUrl}" target="_blank">{$vo.trackName}</a></h3>
                </div>
                <div class="panel-body">
                    <a class="description" href="{$vo.trackViewUrl}" target="_blank">
                        <img class="ico" src="{$vo.artworkUrl100}" alt="{$vo.trackName}">
                        <div>{$vo.description}</div>
                    </a>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="{$vo.artistViewUrl}" target="_blank">{$vo.artistName}</a>
                            <div>版本：{$vo.version}</div>
                            <div>大小：{$vo['fileSizeBytes']/1000000|round=1} MB</div>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn btn-primary btn-block" href="{$vo.trackViewUrl}" target="_blank">{$vo.formattedPrice}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/volist}
    </div>
    <!--/瀑布流-->
</div>
<div class="col-xs-12">
    <!--加载中-->
    <div id="loading" class="loading-wrap" url="/api/getApps/">
        <span class="loading">加载中，请稍后...</span>
    </div>
    <!--/加载中-->
</div>
<script type="text/javascript" src="__JS__/masonry.js"></script>
{/block}