{extend name="base" /}
{block name="style"}{/block}
{block name="script"}{/block}
{block name="navigation"}
<div class="col-xs-12 navigation">
    <ul class="nav nav-pills">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="/about/">关于</a></li>
        <li><a href="https://github.com/Osnobel?tab=repositories" target="_blank">我的Github</a></li>
    </ul>
</div>
{/block}
{block name="main"}
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">关于我</h3>
        </div>
        <div class="panel-body">典型的80后，专业码农，最近几年巧合进入了移动平台的开发领域。我经常出没于互联网的各个角落，出产于广东吴川，毕业于一间不起眼二本学校。设计过广告，弄过服务器，研究过黑客入侵，写过小说，也尝试过工地搬砖等，总结一下就是一个稍微懒一下下的懒人，但兴趣广泛，总有那么一点点三分钟热度。从小就喜欢研究与电脑、网络有关的东东，原因估计是这些东东可以让我更懒点吧，呵呵……</div>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">关于光芯岛</h3>
        </div>
        <div class="panel-body">这个“光芯岛”这个名字的来源嘛，其实也就是我随便起的众多网名中的一个而已罢了。家乡有条江，名字叫鉴江。江里有个岛，名字叫文化岛。但是当地人都叫它“江心岛”。岛与岸边中间有条桥，桥口正对的不远处便是我家了。所以对于能表示家里位置的地标“江心岛”这名字情有独钟。于是取其粤语同音“光芯岛”作为网名。</div>
    </div>
</div>
{/block}